body{
    background-color: rgb(223, 195, 255);
}

header{
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-bottom: 1px solid rgb(84, 84, 117);
    
}
header div {
    color:rgb(60, 60, 83);
    text-align: center;

}
header div a{
    color: rgb(60, 60, 83);
    text-decoration: none;
    line-height: 20px;
    margin : 0 16px;
    font-size: 23px;  
    font-family: "Roboto", sans-serif;
}
header div a:hover{
    color: rgb(236, 204, 19);
    transition: color 700ms;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,138;1,138&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin : 0 auto;
    padding: 0 ;
    border : 0 ;
}
#box{
    text-align: center;
    padding: 32px;
}
#box img{
    border-radius: 50%;
    border: 3px solid rgb(99, 94, 117);
    margin-bottom: 32px;

}
 

#box h2{
    color:rgb(36, 36, 51);
    max-width: 500px;
    margin: 0% auto;
    font-size: 18px;
    line-height: 34px;
    font-family: "Roboto", sans-serif;
    opacity: 0.8;

}

#box h1{
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    line-height: 52px;
    font-weight: normal;
    margin-top: 8px;
    color:  rgb(36, 36, 51);
}
#box h3{
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 10px;
    color: rgb(36, 36, 51);
}
.links {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.links a {
    color: rgb(60, 60, 83);
    font-size: 23px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
}

.link a:hover {
    color: rgb(236, 204, 19);
    transition : 700ms;
    font-size: 23px;
}

#box h1{
    padding: 4px;
}
#box h3{
    padding: 10px;
}
#box h2:hover{
    font-size: 20px;
}
#box a {
    color:rgb(60, 60, 83);
    text-decoration:none;
    transition: 600ms;
}
#box a:hover{
    color:rgb(216, 184, 0);
    transition: 700ms;
}

#linksFooter {
    padding-top: 32px;
    padding-bottom: 25px;
}
#linksFooter a {
    border-bottom: 2px solid rgb(60, 60, 83);
    padding-top: 32px;
    padding-bottom: 8px;
}

#linksFooter a:hover{
    color:rgb(216, 184, 0);
    font-size: 23;
    transition: 700ms;
}

.card {
    max-width: 800px;
    margin: 20px auto;
}
.card{
    background-color: rgb(255, 255, 255);
}
.card_image img{
    width: 100%;
}

.card_content,.card_info{
    padding: 18px
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_price{
    background-color: rgb(223, 195, 255);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}